<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="32"
    android:compileSdkVersionCodename="12"
    package="com.netlight.sec.finstergram"
    platformBuildVersionCode="32"
    platformBuildVersionName="12">
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:theme="@style/Theme.Finstergram"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.netlight.sec.finstergram.FinstergramApplication"
        android:debuggable="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:label="Import Image"
            android:name="com.netlight.sec.finstergram.ui.shared.SharedImageActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/image_detail_label"
            android:name="com.netlight.sec.finstergram.ui.detail.ImageDetailActivity"
            android:exported="false"/>
        <activity
            android:label="@string/image_import"
            android:name="com.netlight.sec.finstergram.ui.p000import.ImageImportActivity"
            android:exported="false"/>
        <activity
            android:label="@string/settings"
            android:name="com.netlight.sec.finstergram.ui.settings.SettingsActivity"
            android:exported="false"/>
        <activity
            android:label="@string/title_activity_image_list"
            android:name="com.netlight.sec.finstergram.ui.list.ImageListActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name="com.netlight.sec.finstergram.ui.login.LoginActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.netlight.sec.finstergram.service.ImageStoreService"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.netlight.sec.finstergram.imageprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.netlight.sec.finstergram.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
    </application>
</manifest>
